<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= "https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" >
    <link rel="stylesheet" href= "https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap" >
    <link rel="stylesheet" href="./css/style.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&family=Open+Sans:wght@300&family=Poppins:wght@300&display=swap" rel="stylesheet">
    <title><%=title%></title>
</head>
<body>
  <div class="aboutpg">

    <h2> Come build your shopping list at GoGo Groceries</h2>
   <p>
    Have you ever gone to the grocery store with a specific item in mind to buy but ended up purchasing more stuff than what you’ve intended to? When you go to a store without a shopping list, you're likely to buy on impulse.

    Well there is no need to stress anymore, GoGoGroceries is here to help you browse through our grocery catalog and prepare your shopping list in-advance. </p>
    
    Here are some of the reasons you should make your shopping list:

    <ul class="list">
      <li>It saves you money.Having a list of to-buys lets you prioritize your spending on what you really need at the moment. You’re also likely to stick to the aisles and sections where your items are located instead of exploring other areas where plenty of “great products” are waiting to be discovered.The waiting period between making the shopping list and going to the store also gives you time to decide on whether you really need all the listed items or they can wait for another time. This will help you stay within your budget and protect your savings in the long run.</li>
      <li>It saves you time and energy. The items in the store are organized according to their types (e.g. skincare, baby products, kitchenware, etc.), but the wide product choices can distract you from going directly to the item you’re supposed to buy.When you have a list of items to buy, you simply need to locate them on their designated shelves instead of wandering aimlessly around the store aisles.</li>

    <li>It reduces waste. When you buy items that you don’t really have an immediate need for, there's a greater chance that they’ll only end up in the trash. This usually happens with fresh food. Since they don’t last long, you’ll have to consume them for a limited period of time. Once they rot or spoil, you’d need to discard them. By making a grocery list, you can avoid wasting food because you’ll have a realistic idea of what and how many food items to buy.</li>
    
    </div>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
      <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
      <script src="./js/main.js"></script>
</body>
</html>

