
    <div class="container">
        <div class="homepagewallpaper">
            <form action="login" class="login-form" method="post">
                <h3>LOGIN NOW</h3>
                <input type="email" name="email" id="email" placeholder="your email" class="box">
                <input type="password" name="password" id="password" placeholder="your password" class="box">
                
                <p>Don't have an account <a href="/register">create now</a></p>
                <input type="submit" value="login now" class="btn" >
            </form> 
        </div>
    </div>
    
   
 


  