<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&family=Open+Sans:wght@300&family=Poppins:wght@300&display=swap" rel="stylesheet">
    <title><%=title%></title>
</head>
<body>
    <p2> Create Account</p2>
<input class='userInput' placeholder="username" required />
<input class='userInput' placeholder="email address" required />
<input class='userInput' placeholder="password" required />
<input class='userInput' placeholder="confirm password" required />
<button id="auth" data-type="signin">register</button>

    <script src="./js/main.js"></script>
</body>
</html>
 




