<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= "https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" >
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="./css/style.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&family=Open+Sans:wght@300&family=Poppins:wght@300&display=swap" rel="stylesheet">
    <title><%=title%></title>
</head>
<body>
    
    <div class="shopwallpapper1">
        <div class="home-pgbuton">
            <section class="home">
                <div class="content">
                    <span>Food on the go. </span>
                    <h3>Reach for a healthier options with organic foods</h3>
                </div>
        </section>
    </div>
   
    <div class="foodcardcontent">
        <h3 class="content">Shop by Category </h3>
      
    </div>
        </div>
        <section class="categories" id="categories">
            <h1 class="heading"></h1>
            <ul class="box-container">
                <li class="box"> 
                        <a href="/shop/fruits">
                    <img src="https://fyf.tac-cdn.net/images/products/large/FYF-870.jpg?auto=webp&quality=80&width=414" alt="">
                    <h3>FRUITS</h3>
                </a>

                </li>
                <li class="box">
                    <a href="/shop/meat">
                    <img src="https://www.provisioneronline.com/ext/resources/images/Responsive-Default-Images/meat-science-review.jpg?height=635&t=1607975249&width=1200" alt="">
                    <h3>MEAT</h3>
                    </a>
                </li>
                <li class="box">
                    <a href="/shop/vegetables">
                    <img src="https://cdn.britannica.com/17/196817-050-6A15DAC3/vegetables.jpg" alt="">
                    <h3>VEGETABLES</h3>
                    </a>
                </li>
                
                <li class="box">
                    <a href="/shop/dairy">
                    <img src="https://i5.walmartimages.com/asr/83f533c3-3234-4bea-80bf-a0f9a43cd279_2.9b223f40bab27c513ba64f9f0e3fc2d9.jpeg" alt="">
                    <h3>DAIRY</h3>
                    </a>
                    
                </li>

                <li class="box">
                    <a href="/shop/bread">
                    <img src="https://m.media-amazon.com/images/I/41kESUHJJUL.jpg" alt="">
                    <h3>BREAD</h3>
                    </a>
                </li>

                <li class="box">
                    <a href="/shop/snacks">
                    <img src="https://i.insider.com/5eb1781142278d5c9126c3a7?width=700" alt="">
                    <h3>SNACKS</h3>
                    </a>
                </li>
            </ul> 
        </section>
    </div>

    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <script src="./js/main.js"></script>
</body>
</html>


