
   <body>
     
                 <div class="content">
                  
                     <h3>Your shopping list</h3>
                 </div>
        
     
      <div id="divShoppingList">
       <table id="tableShoppingList">
         <tr><th>Description</th><th>Price</th><th>Qty</th><th>Total</th></tr>
         <tbody id = "divTbodyCart" border="1">

         </tbody>
       </table>
      </div>
     
   </body>
