<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&family=Open+Sans:wght@300&family=Poppins:wght@300&display=swap" rel="stylesheet">
    <title><%=title%></title>
</head>
<body>
    <div class="intro">
        <h1 class="logo-header">
            <span class="logo">Super</span><span class="logo"> moms</span>
        </h1>
    </div>
     <main>

            Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, exercitationem dolorem minima, magnam quis id ab omnis quidem sunt odio porro ipsam quod unde veniam ullam cum incidunt modi inventore perferendis officia, accusamus qui. Praesentium optio, numquam unde animi doloremque ab assumenda quod sequi accusantium culpa eligendi ullam ad eaque aperiam magnam nihil ut consectetur hic molestias, saepe, dolor odio libero accusamus facere. Obcaecati nesciunt nostrum cumque libero illo sit hic ut ratione qui sequi quidem, eos a doloribus illum nobis commodi repellendus. Animi, recusandae? Quasi repellat magnam, placeat saepe rerum odio eius expedita excepturi, vel fugiat distinctio quas hic doloremque? Numquam a similique dolorum non facilis deleniti repellat in voluptate placeat iure? Quibusdam eum placeat magni reprehenderit accusamus officiis perspiciatis sed ratione consectetur explicabo sapiente vel inventore in, nihil voluptates esse pariatur aperiam sequi debitis aspernatur totam culpa minus assumenda. Architecto voluptatum maxime laudantium modi cum rem, omnis iste ipsa et rerum nostrum quasi qui magnam mollitia ad explicabo natus atque debitis, nam quos magni eius ut quisquam est? Consectetur, vel natus asperiores praesentium harum, odit ad alias pariatur quibusdam accusamus eaque ut architecto excepturi esse in minus ratione corrupti earum dolores. Aperiam aliquid quos rem corrupti exercitationem aliquam ducimus? Dolor sapiente ex ad beatae pariatur nemo. Velit provident sequi quaerat eos quae, facere perspiciatis voluptatem earum culpa dignissimos a, ipsum alias laborum sint ratione corporis labore explicabo. Voluptates laudantium libero at similique dolorem natus, autem recusandae voluptatibus praesentium. Delectus nostrum aspernatur saepe quae dolore excepturi, in similique sapiente autem fugit vel vitae magnam praesentium recusandae nesciunt fugiat aperiam, impedit, aliquid eius repudiandae perferendis debitis ullam. At excepturi alias quos sapiente voluptate dignissimos consectetur eaque nulla! Odio sapiente aperiam ipsa, aliquam minima odit at! Non in modi assumenda architecto possimus adipisci maxime aspernatur dolores velit, ab, nostrum ea ratione illo recusandae nulla quibusdam totam, nam alias et cupiditate. Ea omnis, perspiciatis quisquam est suscipit, iste dolorum commodi minima aut, et maiores! Suscipit, asperiores. Blanditiis consectetur mollitia rem accusantium quidem delectus alias modi excepturi vero! Sint at, illum, quod expedita sunt veniam vero, assumenda voluptatem molestiae ab maiores corrupti cumque? Et deleniti quam fuga beatae, sed sequi est. Sequi minima error ipsa blanditiis provident iure mollitia ullam, voluptatem, quaerat deserunt officiis qui, similique aspernatur eligendi! Eum, fuga iure! Totam accusamus itaque sed eligendi excepturi illo est minima iste accusantium, perspiciatis, impedit, soluta deserunt velit repellendus in tempore. Numquam, molestiae dicta repellendus, unde, eos illum nulla quam veniam sed rem sequi obcaecati? Provident dolore earum dolorum corporis consequatur itaque aperiam ullam dolores nemo at obcaecati adipisci sed quibusdam quia quidem temporibus, facilis, qui laudantium blanditiis non ipsam impedit eum reiciendis! Aut perspiciatis ipsa quo, voluptate rerum ea ab omnis excepturi repellendus quibusdam quos, accusamus dolorum placeat aliquam, modi ullam amet repudiandae tenetur cupiditate obcaecati fuga nihil! Blanditiis doloremque sequi ut aut, fugit voluptates aperiam impedit porro sit aliquid quidem dolores a omnis optio corrupti earum, quos deleniti accusamus? Sit, voluptatum minus reprehenderit temporibus repellat quia, dignissimos, laborum molestias omnis eligendi similique.
   
    </main>

    <script src="./js/main.js"></script>
</body>
</html>
 
